@import './base.css';

/* Texts */
h1, h2, h3 {
  color: var(--text-primary-color);
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.625rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

/* Vuetify */
.v-expansion-panel-title:not(.v-expansion-panel-title--static) {
  min-height: 0px !important;
}

.v-expansion-panel-text__wrapper {
  padding: 16px 16px 20px 16px !important;
}

span.v-btn__content {
  color: var(--text-primary-color);
  font-size: 1rem;
  font-weight: 400;
}

.v-table.border-collapse table {
  border-collapse: collapse;
}

tr.v-data-table__tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.v-table th, td {
  color: var(--text-primary-color);
  font-size: 1.125rem;
}

.v-table--density-default {
  --v-table-header-height: 48px !important;
  --v-table-row-height: 42px !important;
}

@media screen and (max-width: 767px) {
  /* Texts */
  h1 {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  /* Vuetify */
  .v-expansion-panel-text__wrapper {
    padding: 8px 8px 12px 8px !important;
  }

  span.v-btn__content {
    font-size: 0.75rem;
  }

  th.v-data-table__th, td.v-data-table__td {
    font-size: 0.875rem;
  }

  .v-table--density-default {
    --v-table-header-height: 36px !important;
    --v-table-row-height: 32px !important;
  }
}
